body {
    background-color: rgba(186, 170, 245, 0.171);
}

#cabecalho {
    position: fixed;
    background-image: url("imagens/fundo.png");
    opacity: 0.99;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
}

#logo {
    position: fixed;
    left: 17%;
    top: 20px;
}

#menu {
    position: fixed;
    right: 17%;
    top: 40px;
    font-size: 15pt;
}

a {
    color: rgb(56, 63, 93);
    text-decoration: none;
}

a:hover {
    transition: 0.2s;
    color: rgb(109, 120, 168);
}

#capa {
    width: auto;
    display: block;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
}

.corpo-de-texto {
    margin-left: 17%;
    margin-right: 17%;
}

.corpo-de-texto2 {
    margin-top: 130px;
}

p {
    text-align: justify;
    
}

input, select, textarea {
    margin-top: 5px;
    margin-bottom: 15px;
}

form {
    margin-bottom: 70px;
}

h4 {
    text-align: center;
}
